

.container {

    width: 80%;
    height: 600px;
    margin: 0 auto;
    
}

.hero {
    width: 80%;
    
    margin-bottom: 65px;
    margin-top: 54px;
    background-image: url("../../assets/home/image-homepage-hero.jpg");
    background-size: 100%;
}

.card {
    position: absolute;
    width: 445px;
    height: 357px;
    background-color:white;
    justify-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-end;  
    margin-top: 243px;
}


.botaosobre{
    display: flex;
    background-color: white;
}

.botaosobre img {
background: #203A4C;
}

.botaosobre a{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 28px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    background-color:#33323D;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    width: 152px;
    height: 48px;
}

.botaosobre img {
    height: 48px;
    
}

.hero h1 {
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
    padding: 56px 28px 53px 28px;
}

.sobre {
    width: 100%
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.sobre img {
    height: 600px;
    width: 540px;
}
.sobremim {
    height: 600px;
    width: 430px;
}

.sobremim h1 {
    margin-top: 51px;
}

.sobremim a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 113px 0 113px;
    padding: 17px 28px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    width: 210px;
    height: 48px;
    border: 1px solid #33323D;
}


p {
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 28px;
    margin-bottom: 24px;
}

h1 {
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}
.finalzinho {

    width: 100%;
    height: 84px;
    left: 165px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finalzinho h1 {
    width: 400px;
}

.finalzinho a{
    justify-self: flex-end;
    padding: 17px 50px;
    border: 1px solid #33323D;
    box-sizing: border-box;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
}



.pergunta {
    height: 84px;
    margin-bottom: 150px;
}